@using MvcCv.Models.Entity
@model List<TblSertifikalarim>
<div class="resume-section-content">
    <h2 class="mb-5">Sertifikalarım</h2>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                @*1
            <sup>st</sup>*@
                @x.Aciklama
            </li>
        }
    </ul>
</div>
